<header>
        <nav>
            <a href="#!/movieList">
                <img id="logo" src="gopher.png">
            </a>
            <h1>Movie Gopher</h1>
            <ul>
                <li>
                    <a href="#!/movieList" id="movielist">Movie List</a>
                </li> 
                <li> 
                    <a href="#!/watchList" id="watchlist">Watch List</a>
                </li>
            </ul>
            
        </nav>
        
    </header>
<h1 class="list-title">Your Watch List</h1>
<p class="empty" ng-if="$ctrl.movieList.length <= 0">You don't have any movies saved to your Watch List yet!</p>

<!-- <section ng-repeat="movie in $ctrl.movieList track by $index">
    <button type="button" ng-click="$ctrl.deleteMovie($index)">X</button>
    <p> {{ movie.title }} </p>
    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
    <a href="https://www.themoviedb.org/movie/{{movie.id}}">Link</a>
    <div>https://www.themoviedb.org/movie/{{movie.id}}/videos</div>
    <video width="400" controls>
            <source src="https://www.themoviedb.org/movie/{{movie.id}}/videos" type="video/mp4">
            Your browser does not support HTML5 video.
          </video> 
    <p>{{movie.overview}}</p>
</section> -->

<section class="movies">
    <section ng-repeat="movie in $ctrl.movieList track by $index">
        <section class="poster-button">
        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
        <button class="delete-button" type="button" ng-click="$ctrl.deleteMovie($index)">X</button>
        </section>
        <details>
            
            <summary>
                {{movie.title}}
                <!-- <button ng-click= "$ctrl.addToWatchlist(movie);" type="button">Add to Watchlist</button> -->
            </summary>
            <!-- <p>{{ movie.title }}<p>
            <a href="https://www.themoviedb.org/movie/{{movie.id}}">Link</a>
            <div>https://www.themoviedb.org/movie/{{movie.id}}/videos</div> -->
            <h3>{{ movie.title }}</h3>
            <p id="overview">{{ movie.overview }} <a href="#!/movieDetails" ng-click="$ctrl.setCurrentMovie(movie);">more...</a> </p>
        </details> 
    </section>
</section>