<search-criteria></search-criteria>
<h2>Popular Movies:</h2>
<section class="movies">
    <section ng-repeat="movie in $ctrl.popMovies | limitTo:15">
        <figure>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
            <i class="material-icons" ng-class="{ clicked: toggle }" ng-click="$ctrl.addToWatchlist(movie); toggle = !toggle" >remove_red_eye</i>
        </figure>
        <details >
            <summary>
                {{movie.title}}
            </summary>

            <h3>{{movie.title}}</h3>
            <p id="overview">{{ movie.overview }} <a href="#!/movieDetails" ng-click="$ctrl.setCurrentMovie(movie);">more...</a> </p>
        </details> 
    </section>

</section>

<!-- <section class="movies">
    <section ng-repeat="movie in $ctrl.searchMovies | limitTo:10">
        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
        <details>
            <summary>
                
                <button ng-click="$ctrl.addToWatchlist(movie);" type="button">Add to Watchlist</button>
            </summary>

            <a href="https://www.themoviedb.org/movie/{{movie.id}}">
                <h3>{{ movie.title }}</h3>
            </a>
            <p id="overview">{{ movie.overview }} <a href="#!/movieDetails">more...</a> </p>
        </details> 
    </section>
</section> -->

