<search-criteria></search-criteria>
<section class="movies">
    <section ng-repeat="movie in $ctrl.popMovies | limitTo:15">
        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
        <details >
            <summary>
                
                <button ng-click= "$ctrl.addToWatchlist(movie);" type="button">Add to Watchlist</button>
            </summary>
            <!-- <p>{{ movie.title }}<p>
            <a href="https://www.themoviedb.org/movie/{{movie.id}}">Link</a>
            <div>https://www.themoviedb.org/movie/{{movie.id}}/videos</div> -->
            <h3>{{movie.title}}</h3>
            <p id="overview">{{ movie.overview }} </p>
        </details> 
    </section>

</section>

<section class="movies">
    <section ng-repeat="movie in $ctrl.searchMovies | limitTo:10">
        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
        <details></details>
            <summary>
                
                <button ng-click="$ctrl.addToWatchlist(movie);" type="button">Add to Watchlist</button>
            </summary>
            <!-- <p>{{ movie.title }}<p>
            <a href="https://www.themoviedb.org/movie/{{movie.id}}">Link</a>
            <div>https://www.themoviedb.org/movie/{{movie.id}}/videos</div> -->
            <a href="https://www.themoviedb.org/movie/{{movie.id}}">
                <h3>{{ movie.title }}</h3>
            </a>
            <p id="overview">{{ movie.overview }} </p>
        </details> 
    </section>
</section>

<!-- <section ng-repeat="movie in $ctrl.topYearList | limitTo:10">
        <button ng-click= "$ctrl.addToWatchlist(movie);" type="button">Add to Watchlist</button>
    <p>{{ movie.title }}</p>
    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
    <a href="https://www.themoviedb.org/movie/{{movie.id}}">Link</a>
    <p>{{ movie.vote_average }}</p>
</section> -->
